/* general container element to constrain content width on wider screens */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
@media (min-width: 768px) {
    .container { width: 750px; } 
}
@media (min-width: 992px) {
    .container { width: 970px; } 
}
@media (min-width: 1200px) {
    .container { width: 1170px; } 
}

/* Additional CSS Rules */
* {
	box-sizing: border-box;
}

* {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
}

p {
	line-height: 1.43;
	margin-bottom: 1rem; 
	color: white;
}

a {
	color: #fff;
	text-decoration: none;
}

button {
	display: none;
}

header {
	background: linear-gradient(180deg, #391D18, #814236);
	padding-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway;
	font-weight: 100;
	color: white;
	margin-top: 0px;
}

nav {
	/* Fixes position to top of the page always. Doesn't scroll or go away*/
	position: fixed;
	background-color: #4B2720;
	top: 0px;
	z-index: 1px;
	width: 100%;
}

.features {
	background-color: #f8f8f8;
	overflow: overlay; /* height cannot be fixed, needs to depend on cards */
	padding-top: 20px;
}

.menu {
	list-style: none;
	margin: 0px;
	padding-top: 10px;
	padding-left: 16px;
	padding-bottom: 10px;
}

.container {
	padding-bottom:30px;
	padding-top: 30px;
}

.letter {
	color: black;
	font-weight: 300;
	font-size: 1.4rem;
}

.flex-grid {
	display: flex;
	flex-direction: column;
}

.card {
	background-color: #fff;
	border: 2px solid #dfdfdf;
	margin: 0px 10px 16px 10px; 
	border-radius: 3px;
}


.card h3 {
	color: #000;
	font-weight: 300;
	padding-top: 10px;
	padding-left: 60px;
	margin-bottom: 0px;
}

.card p {
	color: #000;
	font-weight: 100;
	font-size: 0.8rem;
	padding-left: 60px;
	padding-right: 5px;
	padding-bottom: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.icons svg {
	fill: #814236;
	margin: 10px 0px 0px 10px;
	width: 40px;
	height: 40px;
	float: left;
}

.features h2 {
	color: black;
	font-variant: small-caps;
	font-weight: 100;
	text-align: center;
	font-size: 1.4rem;
}

.container h1 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.container p {
	margin-top: 8px;
}

.fa.fa-pencil {
	font-size: 0.9em;
}

/* pencil icon doesn't change color */
/* Adding Shopping cart messes up entire nav bar */
.menu li {
	display: inline;
	color: #dfdfdf; 
	padding-right: 20px;
}

.menu li:first-child{
	float: left;
	padding-left: 0px;
	margin-left: 0px;
}

.menu li:nth-child(5) {
	float: right;
	margin-bottom: 0px;
	padding-bottom: 0px
}

.menu li:hover {
	color: #fff;
}

/* Fix background image*/
@media screen and (min-width: 768px) {
	header {
		background: url(../img/pencil-header-sm.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		margin-top: 0px;
	}

	header p {
		color: black;
	}

	h1 {
		color: black;
	}


	nav {
		display: none;
	}

	button {
		border: 1px solid #391d18;
		background-color: #814236;
		padding: 4px 8px 8px 8px;
		display: block;
	}

	button:hover {
		background-color: #5d3027;
	}

	.flex-grid {
		flex-direction: row;
		flex-wrap: wrap;
		display: flex;
		margin: 30px;
		padding: 0px;
	}

	.card {
		width: calc(50% - 20px);
		height: 170px;
		margin: 0px 0px 10px 10px;
		text-align: center;
	}

	.container{
		font-size: 2rem;
		color: black;
	}

	.fa.fa-shopping-cart {
		color: white;
		padding-right: 10px;
		font-size: 0.90em;
	}

	.features h2, .letter {
		font-size: 1.4rem;
	}

	.icons svg {
		display: block;
		margin: 10px auto 10px auto;
		align-content: center;
		float: none;
	}

	.card p {
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0px;
	}

	.card h3 {
		padding: 0px;
		margin: 0px;
	}

	.container p {
		max-width: 50%;
	}

	.container h1 {
		padding-top: 4rem;
	}

	.container button {
		font-size: 1.3rem;
	}

}

/*fix background image position*/
@media screen and (min-width: 992px) {
	header {
		background: url(../img/pencil-header-md.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 0px;
	}

	header p {
		color: black;
	}

	h1 {
		color: black;
	}

	nav {
		display: none;
	}

	button {
		border: 1px solid #391d18;
		background-color: #814236;
		padding: 4px 8px 8px 8px;
		display: block;
	}

	button:hover {
		background-color: #5d3027;
	}

	.card {
		width: calc(25% - 20px);
		height: 220px;
		margin: 0px 0px 10px 10px;
		text-align: center;
	}

	.container{
		font-size: 2rem;
	}	

	.fa.fa-shopping-cart {
		color: white;
		padding-right: 10px;
		font-size: 0.90em;
	}

	.features h2, .letter {
		font-size: 1.4rem;
	}

	.container h1 {
		padding-top: 4rem;
	}

	.container p {
		max-width: 50%
	}

	.container button {
		font-size: 1.3rem;
	}

}

@media scren and (min-width: 1200px) {
	header {
		background: url(../img/pencil-header-lg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 0px;
	}

	header p {
		color: black;
	}

	h1 {
		color: black;
	}

	nav {
		display: none;
	}

	button {
		border: 1px solid #391d18;
		background-color: #814236;
		padding: 4px 8px 8px 8px;
		display: block;
	}

	button:hover {
		background-color: #5d3027;
	}

	.container{
		font-size: 1.5em;
		color: black;
	}

	.fa.fa-shopping-cart {
		color: white;
		padding-right: 10px;
		font-size: 0.90em;
	}

	.features h2, .letter {
		font-size: 1.4rem;
	}

	.container h1 {
		padding-top: 4rem;
	}

	.container button {
		font-size: 1.3rem;
	}
}